#flickrsets2wp-admin{width:600px;}
#flickrsets2wp-admin table{width:100%;}
#flickrsets2wp-admin table tr td.label{width:35%;}
#flickrsets2wp-admin table tr td.value{width:60%;}
#flickrsets2wp-admin table tr td.value input{width:100%;}